<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
        /* Remove the navbar's default margin-bottom and rounded borders */ 
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
          }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>                        
                    </button>
                  </div>
                  <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                      <li class="active"><a href="./index.html">Home</a></li>
                      <li><a href="#">About</a></li>
                      <li><a href="#">Contact</a></li>
                    </ul>
                  </div>
                </div>
    </nav>
    <div class="container">
    <form action="{% url 'website:form' %}" method="POST">
      {% csrf_token %}
        <div class="row justify-content-md-center" style="display: flex;justify-content:center;margin-top:100px;">
            <div class="col-md-4">
                    <div class="form-group">
                        <label for="email">Channel ID:</label>
                        <input type="number" class="form-control" name="channel_id">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Field Number :</label>
                        <input type="number" class="form-control" name="field_number">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Model :</label>
                        <select class="form-control"  name="model">
                          <option value="LR">Linear Regression Model</option>
                          <option value="SV">Support Vector</option>
                          <option value="RF">Random Forest</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
    </div>
</body>